<!--
Marco, Abidur, Danny, Endrit
M.A.D.E for Greatness
SoftDev
P04
Time spent: 50 hours
Target Ship Date: 2025-04-21
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../static/frontend.js"></script>
    {% block javascript %}
        <script>
            var loggedIn = {{loggedIn}};
            var bdfw = {{bdfw | safe}};
            var genre = {{genre | safe}};
            var studios = {{studios | safe}};
        </script>
    {% endblock %} 
    <title>Filter</title>
</head>

<body class="bg-white text-black font-sans">
    <nav class="flex flex-row justify-between items-center h-16 w-full bg-purple-800 text-white">
        <h1 class="basis-2/3 order-first ml-10 text-xl font-bold tracking-tight"><a href="/">YourAnimeSite</a></h1>
        <ul id="navItem" class="basis-1/3 order-last flex flex-row justify-between h-full text-center justify-center text-xl">
            <li class="size-full hover:bg-purple-500 flex text-center items-center justify-center">
               <a href="/filter">Filter</a>
            </li>
            <li class="size-full hover:bg-purple-500 flex text-center items-center justify-center">
                <a href="profile/{{username}}" id="pbutton">Profile</a>
            </li>
            <li class="size-full hover:bg-purple-500 flex text-center items-center justify-center">
                <a href="/signin" id="login_button">Log in</a>
            </li>
        </ul>
    </nav>
    <div class="px-7 py-7">
        <h1 class="font-bold text-purple-800 text-5xl underline">Filter</h1>
        </br>
        <p>Please select the filters to begin viewing your desired statistics</p>
        <form action="/graph" method="POST" id='filters' class="mt-7 flex items-center flex-col">
            <div class="relative inline-block w-1/2 my-7 border border-purple-800 rounded-md p-10 border-solid">
              <label for="typeOfGraph" class="block text-lg font-medium text-gray-700">Choose a Graph</label>
              <select id="typeOfGraph" name="typeOfGraph" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 text-gray-700" required>
                <option value="" disabled selected>Select a Graph</option>
                <option value="bar">Bar Graph</option>
                <option value="line">Line Graph</option>
                <option value="radar">Radar Graph</option>
              </select>
            </div>
            </br>
            <div class="relative inline-block w-1/2 my-7 border border-purple-800 rounded-md p-10 border-solid">
                <label for="category" class="block text-lg font-medium text-gray-700">Choose a Category</label>
                <select id="category" name="category" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 text-gray-700" required>
                  <option value="" disabled selected>Select a Category</option>
                  <option value="num_episodes">Number of Episodes</option>
                  <option value="broadcast_day_of_the_week">Broadcast Day of the Week</option>
                  <option value="genres">Genres</option>
                  <option value="studios">Studios</option>
                </select>
            </div>
        </form>
    </div>
</body>

</html>
